*.sw*
*.tmp
*.gch
*.tmp
*.*~
nbproject/*
nbproject
build/*
build
*.rej
*.back
*/bin
build*
*.bin
.vscode
pyUsb/__pycache__/
pyUsb/*.csv
bins
demoProject/*/Arduino_gd32_freeRTOS
demoProject/*/lnArduino
*/.ccls-cache/
*.gch
libraries/tinyUsb/pat*
rust/rnarduino/target
rust/rnArduino/target
*.tmp
*.orig
